@import '../../common/scss/constants.scss';

section#contact-info {
  padding: 3rem 0;
  background-color: $color-dark;

  .content {
    display: flex;

    @media (max-width: 780px) {
      flex-direction: column;
    }

    .contact-info-box {
      flex: 1;
      text-align: center;
      color: #fff;

      @media (max-width: 780px) {
        padding: 3rem 0;

        &:not(:last-child) {
          border-bottom: 2px dashed darken($color-medium, 50%);
        }
      }

      .fa-icon {
        display: inline-block;
        margin-bottom: 0.7rem;
      }

      h3 {
        font-size: 1.3rem;
      }

      p {
        font-size: 1.1rem;
      }
    }
  }
}
