@import '../../common/scss/constants';

footer#main-footer {
  background-color: $color-dark;
  color: #fff;
  height: 5rem;

  @media (max-width: 450px) {
    height: 7rem;
  }

  & > div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 450px) {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        margin-bottom: 0.7rem;
        text-align: center;
      }
    }

    .fa-icon a {
      color: #fff;
      transition: color 0.3s;
      border-radius: 50%;

      &:hover {
        color: $color-primary;
      }
    }
  }
}
