@import '../../common/scss/constants';

section#specialize {
  padding: 2rem 0;

  text-align: center;

  p {
    font-size: 1.3rem;
    margin-bottom: 3rem;
  }

  .specializations {
    display: flex;

    .specialization-box {
      margin: 1rem;
      flex: 1;

      p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
      }

      .fa-icon {
        display: inline-block;
        color: $color-primary;
        padding-bottom: 0.5rem;
      }
    }
  }
}
